# Macos
.DS_Store

# Vendored Packages
node_modules/

# Build Artifacts
.rollup.cache/
.tsbuildinfo
.turbo/
dist/

# Tests Coverage
coverage/

# Local .env files
.env

# Logs
*.log

# IDEs
.idea
this.code-workspace
